<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>404</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            border: 1px solid #ccc;
            border-radius:20px;
        }
        li:first-child {
            border:0;
        }
        li {
            border-top:1px solid #ccc;
        }
        li:first-child {
            border-top-right-radius:20px;
            border-top-left-radius:20px;
        }
        li:last-child {
            border-bottom-right-radius:20px;
            border-bottom-left-radius:20px;
        }
        a {
            width: 100%;
            display: block;
            height: 100%;
            padding: 10px 0;
        }
        li:hover {
            background-color: #ccc;
        }
    </style>
</head>

<body>

<h1 style="text-align:center">404</h1>
<div style="position: absolute;
    width: 300px;
    margin: auto;
    left: 0;
    right: 0;
    text-align:center;">
    <ul>
        URLS
    </ul>
</div>

</body>
</html>
